@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    background-image: url("https://oogabooga5.github.io/images/background.jpg");
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    text-align: center;
}